body { 
    background-color: rgb(90, 213, 230);
    background-size: cover;
}
#roundBorders{
    background-color: rgba(192, 205, 207, 0.2);
    box-shadow: 10px 10px 5px grey;
    border: 2px solid rgba(3, 95, 107, 0.83);
    padding: 30px;

}

.jumbotron{
    background: none;
}