<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head lang="en">
        <meta charset="UTF-8" />
        <title>Rekisteroidy</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
                  integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
                  crossorigin="anonymous" />
            <link href="/styles.css" rel="stylesheet" />
    </head>
    <body>
        <div class="jumbotron text-center jumbotron-image shadow">
            <h1>Tervetuloa käyttämään Unlinked:ia</h1>
            <p>Unlinked - reinventing the wheel.</p> 
        </div>
        <nav class="navbar navbar-expand-sm bg-transparent navbar-dark">
            <a class="navbar-brand" href="#">Unlinked</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/login}">Login</a>
                    </li>
                </ul>
            </div>  
        </nav>
        <div class="container-fluid text-center">
            <form method="POST" th:object="${account}" th:action="@{/rekisteroidy}"  style="max-width: 350px; margin: 0 auto;">
                <div class="border border-secondary p-3 rounded">
                    <h3 class="">Rekisteröidy!</h3>
                    <div class="form-group">
                        <p>Käyttäjänimesi:</p>
                        <input type="text" th:field="*{username}" name="username" class="form-control" placeholder="Syötä käyttäjänimi"/>
                        <p th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Username errormessage</p>
                    </div>
                    <div class="form-group"
                         <p>Salasana:</p>
                        <input type="password" th:field="*{password}" name="password" class="form-control" placeholder="Syötä salasana"/>
                        <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password errormessage</p>
                    </div>
                    <input type="submit" value="Luo käyttäjä" class="btn btn-primary"/>      
            </form>  
        </div>
        </div>
        <div id="footer" class="jumbotron text-center" style="margin-bottom:0">
            <p></p>
        </div>
    </body>
</html>
