<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head lang="en">
        <meta charset="UTF-8" />
        <title>Käyttäjät</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"/>
            <link href="/styles.css" rel="stylesheet" />
    </head>
    <body>
        <h2>Käyttäjät: </h2>
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5">
                <div class="card bg-danger" style="width:400px;margin-right:20px;margin-bottom:10px" th:each="entry: ${images}"> 
                    <div class="col mb-4">
                        <img class="card-img-top"  th:src="*{'data:image/jpg;base64,'+ entry.value}" height="200px" width="200px"  alt="Card image">
                            <div class="card-body">
                                <h4 class="card-title" th:text="${entry.key.username}" >John Doe</h4>
                                <div th:each="skills : ${entry.key.skills}">
                                    <div th:each="info : ${skills}">
                                        <p style="color:white" class="card-text" th:text="${info.content}" >Some example text.</p>
                                    </div>
                                </div>
                                <a th:href="@{/kayttajat/} + ${entry.key.username}" class="btn btn-primary">Mene profiiliin</a> 
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
